.nav-container {
    width: 80%;
    position: fixed;
    top:0;
    z-index: 1000;
    transition: all .3s ease;
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .phone-nav {
        display: none;
    }
}
.nav-container.scrolled{
    position: fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    background-color: #354f52;
}
.nav-container.scrolled .header-img{
    padding: 0 20px;
}
.dark-border-lines {
    border-bottom: 2px solid rgb(149, 149, 149);
}

.header-nav li {
    padding: 0 20px;
}

.header-nav .nav-links {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
}

.black-nav-links {
    color: #000000;
}

.white-nav-links {
    color: #ffffff;
}

.header-nav .header-img {
    padding:0.9rem 20px;
    width: 15vw;
    min-width: 120px;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
}

.dark-borders {
    border-left: 2px solid #959595 !important;
    border-right: 2px solid #959595 !important;
}

@media (max-width: 960px) {
    .nav-container {
        .header-nav {
            width: 100%;
            padding: 0 1rem;
        }
        .header-nav .nav-links {
            font-size: 12px;
        }
        .header-nav .header-img {
            padding: 10px;
        }
    }
}

@media (max-width: 800px) {
    .nav-container {
        .header-nav {
            display: none;
        }
        .phone-nav {
            padding: 1rem 1.4rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            transition: all .3s ease;

            .phone-header-img {
                width: 25vw;
                max-width: 150px;
            }

            .menu-icon {
                position: absolute;
                right: .5rem;
                z-index: 100;
                cursor: pointer;
            }
        }
    }
    .nav-container .phone-nav.phone-scrolled{
        background-color: #354f52;
    }
}
