$fonts:'Inter', sans-serif;
$colors: (main:#09AD96, secondary: #D96F00, second:#FF8F01, halfBord: #027363, headText: #ffffff, bodyText: #000000, footCol: #EEEEEE, );
$borders: 2px solid rgba(255, 255, 255, 0.5);