@import 'variables';
@import 'mixins';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  display: flex;
  // grid-template-rows: repeat(8, 1fr);
  flex-direction: column;
  font-family: $fonts;
  width: 100%;
  // height: 100vh;
}

header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background: url(../../../Assets/homepage/perfect\ aaa\ 2.png);
  background-repeat: no-repeat;
  width: 100%;
  // height: 878px;
  height: 100vh;

  ul{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);

    li{
      padding: 0 20px;

      a{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        text-transform: uppercase;
        color: map-get($colors, headText);
      }

      @include imager;
    }
  }
  

  #facility{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    color: map-get($map: $colors, $key:headText );
    // margin:150px 0;

    h1{
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      // line-height: 73px;
      text-align: center;
      margin: 5px;

      span{
        font-weight: 400;
        font-size: 60px;
        // line-height: 72.61px;
        text-align: center;
        color: map-get($map: $colors, $key: secondary );
        &:nth-child(2){
          color: map-get($map: $colors, $key:headText );
        }
      }
    }

    p{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.01em;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 15px;
    }

    a {
      padding: 16px 28px;
    }

    @include btn;

    @media (max-width: 960px) {
      h1 {
        font-size: 42px;

        span {
          font-size: 42px;
        }
      }

      p {
        font-size: 18px;
      }   
    }
    @media (max-width: 550px) {
      h1 {
        font-size: 30px;

        span {
          font-size: 30px;
        }
      }

      p {
        font-size: 16px;
      }
    }
  }

  .save-time{
    position: absolute;
    // left: 25%;
    // top: 90%;
    bottom: -10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: map-get($map: $colors, $key:headText );
    // width: 700px;
    // height: 130px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    // margin: 30px;

    #time-text{
      // margin: 0 10px;
      h3{
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        letter-spacing: 0.01em;

        span{
          color: map-get( $colors, second );
        }
      }

      p{
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.01em;

        color: rgba(0, 0, 0, 0.75);
      }

    }

    a {
      padding: 16px;
    }

    @include btn;

    @media (max-width: 960px) {
      bottom: 0;
      width: 100%;

      #time-text {
        h3 {
          font-size: 24px;
        }
        p {
          font-size: 20px;
        }
      }
    }

    @media (max-width: 500px) {
      #time-text {
        h3 {
          font-size: 14px;
          line-height: 1.2;
          margin-bottom: 10px;
        }

        p {
          font-size: 10px;
          line-height: 1.2;
        }

      }
      a {
        font-size: 12px;
      }
    }
  }
}

.react-hold{
  margin: 170px 0 0;
  // width: 75%;

  .hostels{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    width: 100%;
    margin-bottom: 200px;

    @include head1;

    #hostels{
      display: flex;
      align-items: center;
      justify-content: space-around;

      // width: 70%;
      width: 85%;
      margin: 0 auto;
      padding: 50px;
      column-gap: 50px;
      row-gap: 50px;

      @media (max-width: 1200px) {
        flex-direction: column;
        row-gap: 150px;
      }
      
      #hostel{
        max-width: 550px;
        min-width: 350px;
        img{
          width: 100%;
        }
        
        #location{
          position: relative;
          display: flex;
          flex-direction: column;
          // align-items: center;
          justify-content: center;
          // bottom: -99%;
          z-index: -1;
          border: 2px solid rgba(0, 0, 0, 0.2);
          padding: 20px 10px 80px;
          // width: 600px;
          // height: 489.53px;
          // width: 600px;
  
          h3{
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            padding: 20px;
            // text-align: center;
          }

          p{
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 43px;
            // width: 558px;
            padding: 0 25px;
            // flex-wrap: nowrap;
          }

          .space {
            position: absolute;
            color: map-get($map: $colors, $key: headText);
            background: #09AD96;
            font-weight: 700;
            text-align: center;
            border-radius: 10px;
            bottom: -25%;
            padding: 2rem 1.2rem;

            span {
              font-weight: 400;
              font-size: 16px;
              display: block;
            }
          }

          // @include hostel;

          a{
            background: map-get($map: $colors, $key: secondary);
            color: map-get($map: $colors, $key: headText);
            position: absolute;
            bottom: -5%;
            right: 5%;
            text-decoration: none;
            padding: 10px 50px;
            border-radius: 6px;

            &:hover{
              cursor: pointer;
            }
          }

          @media (max-width: 960px) {
            h3 {
              font-size: 24px;
            }
            p {
              font-size: 20px;
            }
            a {
              font-size: 14px;
            }
          }
          @media (max-width: 960px) {
            h3 {
              font-size: 20px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .about{
    @include tops;
    // display: grid;
   
    // justify-content: right;
    row-gap: 30px;
    width: 90vw;
    margin: 150px auto;
    // margin: 0 0 500px;

   

    #about{
      display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      // padding: 20px;
      gap: 40px;
      min-height: 680px;
      // float: right;

      p{
        // width: 676px;
        // height: 580px;
        font-weight: 600;
        font-size: 22px;
        line-height: 40px;
        letter-spacing: 0.01em;
      }

      div {
        position: relative;
        flex-basis: 100%;

        img {
          width: 100%;
          height: 100%;
          max-height: 720px;
        }
      }

      
      @include btn;

      a {
        padding: 16px 40px;
        font-size: 22px;
        // position: absolute;
        // bottom: 0;
        margin-top: 100px;
        align-self: flex-end;
        display: inline-block;
      }

      @media (max-width: 1200px) {
        flex-direction: column;
        width: 85vw;
        margin: auto;
      }

      @media (max-width: 560px) {
        p {
          font-size: 18px;
        }
        a {
          margin-top: 50px;
          font-size: 18px;
        }
      }

      @media (max-width: 450px) {
        p {
          font-size: 16px;
          line-height: 30px;
        }
        a {
          font-size: 16px;
        }
      }
    }
  }

  .back-image{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    // object-fit: contain;
    // overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
    // margin: 0 10px 60px;
    // padding-bottom: 20px;
    // img{
    //   // width: 100%;
    //   // height: 779px;
    // }
  }

  .admins{
   @include tops;
   width: 90vw;
   margin: 130px auto;

    .images{
      width: 100%;
      display: flex;
      justify-content: space-between;

      .arrow {
        width: 50px;
      }
      

      .image-list{
        display: flex;
        gap: 10px;

        
        div{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img{
            width: 100%;
            border: none;
          }

          div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border: 2px solid rgba(0, 0, 0, 0.2);
            border-top: none;
            padding: 10px;

            h3{
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 48px;
            }

            span{
              display: flex;
              align-items: center;
              justify-content: center;
              

              @include btn;

              a{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 30px;
                height: 48px;
                margin: 20px;

                &:nth-of-type(2){
                  background: map-get($colors , secondary );
                }

                &:hover{
                  cursor: pointer;
                }
              }
            }
          }
        }

        .admin{
          // width: 300px;
          margin: 20px;
          min-width: 250px;
        }

        @media (max-width: 1100px) {
          .admin:nth-child(3) {
            display: none;
          }
        }

        @media (max-width: 900px) {
          .admin:nth-child(2) {
            display: none;
          }
        }
      } 
      @media (max-width: 500px) {
        .arrow {
          width: 30px;
        }
      }
    }
  }

  .activities{
    @include tops;
    width: 85vw;
    margin: 50px auto;

    & > div {
      margin-top: 30px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 80px;

      .activity {
        flex: 1;

        & > img {
          width: 100%;
          display: block;
        }

        .activity-text {
          height: 320px;
          padding: 25px;
          border: 1px solid #00000033;
          position: relative;

          h3 {
            font-size: 30px;
            margin: 15px 0 25px;
          }
          p {
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 60px;
          }
          a {
            color: black;
            position: absolute;
            bottom: 25px;
            right: 25px;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;

            span {
              vertical-align: middle;
              margin-left: 15px;
            }
          }

          @media (max-width: 500px) {
            max-height: 300px;
            h3 {
              font-size: 20px;
            }
            p{
              font-size: 18px;
            }
            a {
              font-size: 16px;

              img {
                width: 30px;
              }
            }
          }
        }
      }

      @media (max-width: 1000px) {
        flex-direction: column;
      }


    }

    @media (max-width: 500px) {
      h1 {
        font-size: 28px;
      }
    }
  }

  .contact{
    @include tops;
    

    .contact-container{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 90%;
      gap: 50px;
      margin: 30px;
      
      div{
        @include flexer;
        align-items: flex-start;
        gap: 10px;
        align-self: flex-start;

        h3{
          font-weight: 600;
          font-size: 36px;
          line-height: 48px;
          text-align: center;
        }

        p{
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px;
          gap: 10px;
          font-weight: 400;
          font-size: 25px;
          line-height: 30px;
        }

        @media (max-width: 600px) {
          h3 {
            font-size: 30px;
          }
          p {
            font-size: 16px;

            img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }

      @media (max-width: 1000px) {
        flex-direction: column;
      }
    }

    form{
      // border: 1px solid red;
      @include flexer;
      align-items: flex-start;
      // width: 543px;
      gap: 20px;

      h2{
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        
      }

      input{
        width: 100%;
        height: 60px;
        padding-left: 15px;

        &:nth-of-type(3){
          height: 167px;
        }
      }

      @include btn;
      a{
        width: 100%;
        padding: 16px;
        text-align: center
      }

      @media (max-width: 600px) {
        h2 {
          font-size: 28px;
        }
      }
    }

    @media (max-width: 600px) {
      h1 {
        font-size: 30px;
      }
      .contact-container {
        border: 1px solid #00000033;
        padding: 15px;
        border-radius: 12px;
      }
    }
  }
}

.bottom {
  @include Bottom;
  
    img{
      display: flex;
      padding: 20px;
      border-left: 2px solid rgba(0, 0, 0, 0.2);
      border-right: 2px solid rgba(0, 0, 0, 0.2);
    }
  
    @media (max-width: 700px) {
      img {
        width: 30vw;
      }
    }
}

footer{
  background: map-get($colors , footCol);
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  
  p{
    font-weight: 400;
    font-size: 25px;
    line-height: 135%;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.9);
  }

  @media (max-width: 800px) {
    p {
      font-size: 18px;
    }
  }

  @media (max-width: 600px) {
    p {
      font-size: 16px;
    }
  }

  @media (max-width: 400px) {
    p {
      font-size: 14px;
    }
  }
}
