* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  width: 100%;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../../Assets/homepage/perfect\ aaa\ 2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
header ul {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
header ul li {
  padding: 0 20px;
}
header ul li a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
header ul li img {
  display: flex;
  padding: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}
header #facility {
  text-align: center;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
header #facility h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  margin: 5px;
}
header #facility h1 span {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  color: #D96F00;
}
header #facility h1 span:nth-child(2) {
  color: #ffffff;
}
header #facility p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
}
header #facility a {
  padding: 16px 28px;
}
header #facility a {
  font-style: normal;
  display: inline-block;
  font-weight: 600;
  background: #09AD96;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 960px) {
  header #facility h1 {
    font-size: 42px;
  }
  header #facility h1 span {
    font-size: 42px;
  }
  header #facility p {
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  header #facility h1 {
    font-size: 30px;
  }
  header #facility h1 span {
    font-size: 30px;
  }
  header #facility p {
    font-size: 16px;
  }
}
header .save-time {
  position: absolute;
  bottom: -10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  gap: 20px;
}
header .save-time #time-text h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.01em;
}
header .save-time #time-text h3 span {
  color: #FF8F01;
}
header .save-time #time-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.75);
}
header .save-time a {
  padding: 16px;
}
header .save-time a {
  font-style: normal;
  display: inline-block;
  font-weight: 600;
  background: #09AD96;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 960px) {
  header .save-time {
    bottom: 0;
    width: 100%;
  }
  header .save-time #time-text h3 {
    font-size: 24px;
  }
  header .save-time #time-text p {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  header .save-time #time-text h3 {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  header .save-time #time-text p {
    font-size: 10px;
    line-height: 1.2;
  }
  header .save-time a {
    font-size: 12px;
  }
}

.react-hold {
  margin: 170px 0 0;
}
.react-hold .hostels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
  margin-bottom: 200px;
}
.react-hold .hostels h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .hostels #hostels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 85%;
  margin: 0 auto;
  padding: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 50px;
}
@media (max-width: 1200px) {
  .react-hold .hostels #hostels {
    flex-direction: column;
    row-gap: 150px;
  }
}
.react-hold .hostels #hostels #hostel {
  max-width: 550px;
  min-width: 350px;
}
.react-hold .hostels #hostels #hostel img {
  width: 100%;
}
.react-hold .hostels #hostels #hostel #location {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 20px 10px 80px;
}
.react-hold .hostels #hostels #hostel #location h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  padding: 20px;
}
.react-hold .hostels #hostels #hostel #location p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  padding: 0 25px;
}
.react-hold .hostels #hostels #hostel #location .space {
  position: absolute;
  color: #ffffff;
  background: #09AD96;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  bottom: -25%;
  padding: 2rem 1.2rem;
}
.react-hold .hostels #hostels #hostel #location .space span {
  font-weight: 400;
  font-size: 16px;
  display: block;
}
.react-hold .hostels #hostels #hostel #location a {
  background: #D96F00;
  color: #ffffff;
  position: absolute;
  bottom: -5%;
  right: 5%;
  text-decoration: none;
  padding: 10px 50px;
  border-radius: 6px;
}
.react-hold .hostels #hostels #hostel #location a:hover {
  cursor: pointer;
}
@media (max-width: 960px) {
  .react-hold .hostels #hostels #hostel #location h3 {
    font-size: 24px;
  }
  .react-hold .hostels #hostels #hostel #location p {
    font-size: 20px;
  }
  .react-hold .hostels #hostels #hostel #location a {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .react-hold .hostels #hostels #hostel #location h3 {
    font-size: 20px;
  }
  .react-hold .hostels #hostels #hostel #location p {
    font-size: 16px;
  }
}
.react-hold .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  width: 90vw;
  margin: 150px auto;
}
.react-hold .about h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .about #about {
  display: flex;
  gap: 40px;
  min-height: 680px;
}
.react-hold .about #about p {
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: 0.01em;
}
.react-hold .about #about div {
  position: relative;
  flex-basis: 100%;
}
.react-hold .about #about div img {
  width: 100%;
  height: 100%;
  max-height: 720px;
}
.react-hold .about #about a {
  font-style: normal;
  display: inline-block;
  font-weight: 600;
  background: #09AD96;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
}
.react-hold .about #about a {
  padding: 16px 40px;
  font-size: 22px;
  margin-top: 100px;
  align-self: flex-end;
  display: inline-block;
}
@media (max-width: 1200px) {
  .react-hold .about #about {
    flex-direction: column;
    width: 85vw;
    margin: auto;
  }
}
@media (max-width: 560px) {
  .react-hold .about #about p {
    font-size: 18px;
  }
  .react-hold .about #about a {
    margin-top: 50px;
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .react-hold .about #about p {
    font-size: 16px;
    line-height: 30px;
  }
  .react-hold .about #about a {
    font-size: 16px;
  }
}
.react-hold .back-image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.react-hold .back-image img {
  width: 100%;
  height: 100%;
}
.react-hold .admins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: 130px auto;
}
.react-hold .admins h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .admins .images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.react-hold .admins .images .arrow {
  width: 50px;
}
.react-hold .admins .images .image-list {
  display: flex;
  gap: 10px;
}
.react-hold .admins .images .image-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.react-hold .admins .images .image-list div img {
  width: 100%;
  border: none;
}
.react-hold .admins .images .image-list div div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  padding: 10px;
}
.react-hold .admins .images .image-list div div h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
}
.react-hold .admins .images .image-list div div span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-hold .admins .images .image-list div div span a {
  font-style: normal;
  display: inline-block;
  font-weight: 600;
  background: #09AD96;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
}
.react-hold .admins .images .image-list div div span a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 48px;
  margin: 20px;
}
.react-hold .admins .images .image-list div div span a:nth-of-type(2) {
  background: #D96F00;
}
.react-hold .admins .images .image-list div div span a:hover {
  cursor: pointer;
}
.react-hold .admins .images .image-list .admin {
  margin: 20px;
  min-width: 250px;
}
@media (max-width: 1100px) {
  .react-hold .admins .images .image-list .admin:nth-child(3) {
    display: none;
  }
}
@media (max-width: 900px) {
  .react-hold .admins .images .image-list .admin:nth-child(2) {
    display: none;
  }
}
@media (max-width: 500px) {
  .react-hold .admins .images .arrow {
    width: 30px;
  }
}
.react-hold .activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85vw;
  margin: 50px auto;
}
.react-hold .activities h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .activities > div {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.react-hold .activities > div .activity {
  flex: 1;
}
.react-hold .activities > div .activity > img {
  width: 100%;
  display: block;
}
.react-hold .activities > div .activity .activity-text {
  height: 320px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}
.react-hold .activities > div .activity .activity-text h3 {
  font-size: 30px;
  margin: 15px 0 25px;
}
.react-hold .activities > div .activity .activity-text p {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 60px;
}
.react-hold .activities > div .activity .activity-text a {
  color: black;
  position: absolute;
  bottom: 25px;
  right: 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
.react-hold .activities > div .activity .activity-text a span {
  vertical-align: middle;
  margin-left: 15px;
}
@media (max-width: 500px) {
  .react-hold .activities > div .activity .activity-text {
    max-height: 300px;
  }
  .react-hold .activities > div .activity .activity-text h3 {
    font-size: 20px;
  }
  .react-hold .activities > div .activity .activity-text p {
    font-size: 18px;
  }
  .react-hold .activities > div .activity .activity-text a {
    font-size: 16px;
  }
  .react-hold .activities > div .activity .activity-text a img {
    width: 30px;
  }
}
@media (max-width: 1000px) {
  .react-hold .activities > div {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .react-hold .activities h1 {
    font-size: 28px;
  }
}
.react-hold .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.react-hold .contact h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .contact .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  gap: 50px;
  margin: 30px;
}
.react-hold .contact .contact-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: flex-start;
}
.react-hold .contact .contact-container div h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.react-hold .contact .contact-container div p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
@media (max-width: 600px) {
  .react-hold .contact .contact-container div h3 {
    font-size: 30px;
  }
  .react-hold .contact .contact-container div p {
    font-size: 16px;
  }
  .react-hold .contact .contact-container div p img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 1000px) {
  .react-hold .contact .contact-container {
    flex-direction: column;
  }
}
.react-hold .contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.react-hold .contact form h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.react-hold .contact form input {
  width: 100%;
  height: 60px;
  padding-left: 15px;
}
.react-hold .contact form input:nth-of-type(3) {
  height: 167px;
}
.react-hold .contact form a {
  font-style: normal;
  display: inline-block;
  font-weight: 600;
  background: #09AD96;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
}
.react-hold .contact form a {
  width: 100%;
  padding: 16px;
  text-align: center;
}
@media (max-width: 600px) {
  .react-hold .contact form h2 {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .react-hold .contact h1 {
    font-size: 30px;
  }
  .react-hold .contact .contact-container {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 12px;
  }
}

.bottom .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
}
.bottom .bottom img {
  display: flex;
  padding: 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}
.bottom img {
  display: flex;
  padding: 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  margin: auto;
}
@media (max-width: 700px) {
  .bottom img {
    width: 30vw;
  }
}

footer {
  background: #EEEEEE;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}
footer p {
  font-weight: 400;
  font-size: 25px;
  line-height: 135%;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.9);
}
@media (max-width: 800px) {
  footer p {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  footer p {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  footer p {
    font-size: 14px;
  }
}/*# sourceMappingURL=home.css.map */