* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  width: 100%;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../../Assets/homepage/perfect\ aaa\ 2.png);
  background-repeat: no-repeat;
}
header ul {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
header ul li {
  padding: 0 20px;
}
header ul li a {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
header ul li img {
  display: flex;
  padding: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}
header #facility {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin: 150px 0;
}
header #facility h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin: 5px;
}
header #facility h1 span {
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #D96F00;
}
header #facility h1 span:nth-child(2) {
  color: #ffffff;
}
header #facility p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.8);
}
header #facility a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: #09AD96;
  border-radius: 6px;
  padding: 16px;
  margin: 15px 0 0;
  text-decoration: none;
  color: #ffffff;
}
header .save-time {
  position: absolute;
  left: 25%;
  top: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;
  width: 700px;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  gap: 20px;
}
header .save-time #time-text h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.01em;
}
header .save-time #time-text h3 span {
  color: #FF8F01;
}
header .save-time #time-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.75);
}
header .save-time a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: #09AD96;
  border-radius: 6px;
  padding: 16px;
  margin: 15px 0 0;
  text-decoration: none;
  color: #ffffff;
}

.react-hold {
  margin: 170px 0 0;
}
.react-hold .hostels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  margin: 0 0 500px;
}
.react-hold .hostels h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .hostels #hostels {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  padding: 50px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.react-hold .hostels #hostels #hostel {
  position: relative;
}
.react-hold .hostels #hostels #hostel img {
  position: relative;
}
.react-hold .hostels #hostels #hostel #location {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: -99%;
  z-index: -1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 600px;
  height: 489.53px;
}
.react-hold .hostels #hostels #hostel #location h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  padding: 20px;
}
.react-hold .hostels #hostels #hostel #location p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  padding: 0 25px;
}
.react-hold .hostels #hostels #hostel #location .space {
  position: absolute;
  top: 80%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 176.53px;
  height: 194.95px;
  background: #09AD96;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  border-radius: 10.8303px;
}
.react-hold .hostels #hostels #hostel #location .space span {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.react-hold .hostels #hostels #hostel #location a {
  position: absolute;
  top: 75%;
  left: 60%;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  border-radius: 6.49819px;
  padding: 20px;
  margin: 15px 0 0;
  text-decoration: none;
  background: #D96F00;
  color: #ffffff;
}
.react-hold .hostels #hostels #hostel #location a:hover {
  cursor: pointer;
}
.react-hold .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.react-hold .about h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .about #about {
  display: flex;
  padding: 20px;
  gap: 30px;
}
.react-hold .about #about p {
  width: 676px;
  height: 580px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.01em;
}
.react-hold .about #about a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: #09AD96;
  border-radius: 6px;
  padding: 16px;
  margin: 15px 0 0;
  text-decoration: none;
  color: #ffffff;
}
.react-hold .back-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-hold .back-image img {
  width: 100%;
  height: 779px;
}
.react-hold .admins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.react-hold .admins h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .admins .images {
  display: flex;
}
.react-hold .admins .images .image-list {
  display: flex;
  gap: 10px;
  padding: 20px;
}
.react-hold .admins .images .image-list div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.react-hold .admins .images .image-list div img {
  width: 100%;
  border: none;
}
.react-hold .admins .images .image-list div div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  padding: 10px;
}
.react-hold .admins .images .image-list div div h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
}
.react-hold .admins .images .image-list div div span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-hold .admins .images .image-list div div span a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: #09AD96;
  border-radius: 6px;
  padding: 16px;
  margin: 15px 0 0;
  text-decoration: none;
  color: #ffffff;
}
.react-hold .admins .images .image-list div div span a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 48px;
  margin: 20px;
}
.react-hold .admins .images .image-list div div span a:nth-of-type(2) {
  background: #D96F00;
}
.react-hold .admins .images .image-list div div span a:hover {
  cursor: pointer;
}
.react-hold .admins .images .image-list .small {
  width: 300px;
  margin: 20px;
}
.react-hold .activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.react-hold .activity h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .activity .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.react-hold .activity .content .content-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 40px 0;
  gap: 40px;
}
.react-hold .activity .content .content-img div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.react-hold .activity .content .content-img div span {
  width: 600px;
  height: 300px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
}
.react-hold .activity .content .content-img div span h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
}
.react-hold .activity .content .content-img div span p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.react-hold .activity .content .content-img div span a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  align-self: flex-end;
}
.react-hold .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.react-hold .contact h1 {
  background: url(../../../Assets/homepage/Rectangle\ 2882.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #000000;
}
.react-hold .contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 30px;
}
.react-hold .contact .contact-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 30px 0;
  align-self: flex-start;
}
.react-hold .contact .contact-container div h3 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}
.react-hold .contact .contact-container div p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.react-hold .contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  width: 543px;
  gap: 20px;
}
.react-hold .contact form h2 {
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
}
.react-hold .contact form input {
  width: 100%;
  height: 60px;
}
.react-hold .contact form input:nth-of-type(3) {
  height: 167px;
}
.react-hold .contact form a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background: #09AD96;
  border-radius: 6px;
  padding: 16px;
  margin: 15px 0 0;
  text-decoration: none;
  color: #ffffff;
}
.react-hold .contact form a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid rgba(0, 0, 0, 0.3);
}
.bottom img {
  display: flex;
  padding: 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

footer {
  background: #EEEEEE;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
}
footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 128%;
  text-align: center;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.9);
}/*# sourceMappingURL=home.css.map */