@import 'variables';
@import 'mixins';

*{
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

body{
  display: flex;
  // grid-template-rows: repeat(8, 1fr);
  flex-direction: column;
  font-family: $fonts;
  width: 100%;
  // height: 100vh;
}

header{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  background: url(../../../Assets/homepage/perfect\ aaa\ 2.png);
  background-repeat: no-repeat;
  // width: 100%;
  // height: 878px;

  ul{
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);

    li{
      padding: 0 20px;

      a{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        text-transform: uppercase;
        color: map-get($colors, headText);
      }

      @include imager;
    }
  }

  #facility{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: map-get($map: $colors, $key:headText );
    margin:150px 0;

    h1{
      font-style: normal;
      font-weight: 900;
      font-size: 60px;
      line-height: 73px;
      text-align: center;
      margin: 5px;
      span{
        font-weight: 400;
        font-size: 60px;
        line-height: 72.61px;
        text-align: center;
        color: map-get($map: $colors, $key: secondary );
        &:nth-child(2){
          color: map-get($map: $colors, $key:headText );
        }
      }
    }

    p{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.01em;
      color: rgba(255, 255, 255, 0.8);
    }

    @include btn;
  }

  .save-time{
    position: absolute;
    left: 25%;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: map-get($map: $colors, $key:headText );
    width: 700px;
    height: 130px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    gap: 20px;
    // margin: 30px;

    #time-text{
      // margin: 0 10px;
      h3{
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        letter-spacing: 0.01em;

        span{
          color: map-get( $colors, second );
        }
      }

      p{
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.01em;

        color: rgba(0, 0, 0, 0.75);
      }
    }

    @include btn;
  }
}

.react-hold{
  margin: 170px 0 0;
  // width: 75%;

  .hostels{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin: 0 0 500px;

    @include head1;

    #hostels{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 70%;
      padding: 50px;
      column-gap: 50px;
      
      #hostel{
        position: relative;
        img{
          position: relative;
          // bottom: 20%;
        }
        
        #location{
          position: absolute;
          display: flex;
          flex-direction: column;
          // align-items: center;
          justify-content: center;
          bottom: -99%;
          z-index: -1;
          border: 2px solid rgba(0, 0, 0, 0.2);
          padding: 10px;
          width: 600px;
          height: 489.53px;
          // width: 600px;
  
          h3{
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            padding: 20px;
            // text-align: center;
          }

          p{
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            line-height: 43px;
            // width: 558px;
            padding: 0 25px;
            // flex-wrap: nowrap;
          }

          @include hostel;

          a{
            &:hover{
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .about{
    @include tops;
    // display: grid;
   
    // justify-content: right;
    row-gap: 30px;
    // margin: 0 0 500px;

   

    #about{
      display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      padding: 20px;
      gap: 30px;
      // float: right;

      p{
        width: 676px;
        height: 580px;
        font-weight: 600;
        font-size: 25px;
        line-height: 45px;
        letter-spacing: 0.01em;
      }

      @include btn;
    }
  }
}