@import 'variables';
@import 'mixins';

*{
  box-sizing: border-box;
  margin: 0;
  list-style: none;
}

body{
  display: flex;
  // grid-template-rows: repeat(8, 1fr);
  flex-direction: column;
  font-family: $fonts;
  width: 100%;
  // height: 100vh;
}

@include Header;

.react-hold{
  margin: 170px 0 0;
  // width: 75%;

  @include Hostel;

  @include About;

  .back-image{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0 10px 60px;
    // padding-bottom: 20px;
    img{
      width: 100%;
      height: 779px;
    }
  }

 @include Admin;

  @include Activity;

  @include Contact;
}

@include Bottom;

@include Footer;