.hostel-card {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    // min-width: 30%;
    max-width: 300px;
    padding: 20px 20px 30px;
    font-family: 'inter';

    .hostel-name {
        font-size: 24px;
        font-weight: 500;
    }

    .hostel-image {
        width: 100%;
        height: 200px;
    }

    .spaces-available {
        color: #09AD96;
    }

    .address {
        padding: 5px 0;
    }
}